extends layout

block content
    script(src="javascripts/landing.js")
    .p-5.bg
        .container
            h1.text-center.display-1.titlefont Click-NET
            .row
                .col-sm-6.mx-auto
                    #classes.carousel.slide(data-ride='carousel' data-interval="false")
                        ol.carousel-indicators
                            li#mage.active(data-target='#classes' data-slide-to='0')
                            li#paladin(data-target='#classes' data-slide-to='1')
                            li#swordsman(data-target='#classes' data-slide-to='2')
                        .carousel-inner
                            .carousel-item.active
                                img.d-block.w-100(src='/images/player/mage.png' alt='First slide')
                                .carousel-caption.d-none.d-md-block
                                    b Mage
                                    p Use spells to devastate the enemy.
                            .carousel-item
                                img.d-block.w-100(src='/images/player/paladin.png' alt='Second slide')
                                .carousel-caption.d-none.d-md-block
                                    b Paladin
                                    p Heal and buff your allies.
                            .carousel-item
                                img.d-block.w-100(src='/images/player/swordsman.png' alt='Third slide')
                                .carousel-caption.d-none.d-md-block
                                    b Swordsman
                                    p Deal massive damage.
                        a.carousel-control-prev(href='#classes' role='button' data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#classes' role='button' data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next

                    form#name(action='/game' method='post')
                        input.form-control.form-control-lg.name.mb-3.mt-3(type='text' name='name' placeholder='enter name' minlength='3' maxlength='12')
                        input#type(type='hidden' name='type' value='')
                        button.btn.btn-primary.btn-lg.btn-block(type='submit' value='submit') Start Game!
