extends layout

block content
  link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/slate/bootstrap.min.css", rel="stylesheet", integrity="sha384-FBPbZPVh+7ks5JJ70RJmIaqyGnvMbeJ5JQfEbW0Ac6ErfvEg9yG56JQJuMNptWsH", crossorigin="anonymous")
  h1= title
  p Welcome to #{title}
  a(href='http://localhost:3000/game')
    img(src='/images/candy_click.jpg' alt='Caramel Candy' style='width:280px;height:256px;')