extends layout

block content
  script(src="javascripts/landing.js")
  div.p-5.bg
    div.container
      h1.text-center.display-1 Click-NET
      div.row
        div.col-sm-6.mx-auto
          #classes.carousel.slide(data-ride='carousel' data-interval="false")
            ol.carousel-indicators
              li#paladin.active(data-target='#classes' data-slide-to='0')
              li#swordsman(data-target='#classes' data-slide-to='1')
              li#mage(data-target='#classes' data-slide-to='2')
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='/images/mage.png' alt='First slide')
              .carousel-item
                img.d-block.w-100(src='/images/paladin.png' alt='Second slide')
              .carousel-item
                img.d-block.w-100(src='/images/swordsman.png' alt='Third slide')
            a.carousel-control-prev(href='#classes' role='button' data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#classes' role='button' data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next

          form#name(action='/game' method='post')
            input.form-control.form-control-lg.name.mb-4.mt-4(type='text' name='name' placeholder='enter name' minlength='3' maxlength='12')
            input#type(type='hidden' name='type' value='')
            button.btn.btn-primary.btn-lg.btn-block(type='submit' value='submit') Start Game!
