extends layout

block content
  link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css", rel="stylesheet", integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp", crossorigin="anonymous")
  h1= title
  p Hello to #{title}
  a(href='http://localhost:3000/game')
    img(src='/images/candy_click.jpg' alt='Caramel Candy' style='width:280px;height:256px;')