doctype html
html
    head
        title= title
        script(src='/libraries/jquery-3.4.1.min.js')
        script(src='/libraries/jquery-ui.min.js')
        script(src='/libraries/bootstrap.min.js')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="https://fonts.googleapis.com/css?family=Bungee+Shade|Chelsea+Market|Codystar|Freckle+Face|Megrim|Rubik+Mono+One&display=swap" rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet", href="/libraries/bootstrap.min.css")
    body.p-0
        block content
