body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.titlefont{
    font-family: 'Press Start 2P', cursive;
    color: WHITE;
}

.name {
    font-size: 3rem !important;
}

.name::placeholder {
    text-align: center;
}

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("/images/background2.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#classes {
    font-size: 18px;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
}